h1 {
    color: deepskyblue;
}
h2 {
    color:dodgerblue
}
body {
    color:darkslateblue;
}
.btn {
    font-weight: bold;
}
.primary {
    color:red;
}
.secondary {
    color:red;
}
input {
    background-color:yellowgreen;
}
.red-text {
    color:red;
}
.green-text {
    color:lawngreen;
}
.yellow-text {
    color:yellow;
}
.blue-text {
    color:turquoise;
}
.purple-text {
    color:rebeccapurple;
}
.brown-text {
    color:saddlebrown;
}
.orange-p {
    color:darkorange;
}
#main-header {
    text-align: center;
}
#main-navigation {
    text-align:center;
    background-color:lightseagreen;
}
.nav-link {
    color: darkblue;
    font-weight: bold;
}
.form-label {
    font-weight: bold;
}

.form-input {
    color: blue;
}